<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Homepage</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>

    <h1>Photo Bank</h1>
   <header id="main-header">
		<nav>
            {% block sidebar %}
                <ul>
                    <li><a class="site-name" href="{% url 'homepage' %}">INICIO</a></li>
                        <li><a class="site-name" href="{% url 'abstract' %}"> ABSTRACT</a></li>
                        <li><a class="site-name" href="{% url 'nature' %}">NATURE </a></li>
                        {% block registration %}
                            {% if user.is_authenticated %}
                                <li>Hi {{ user.username }}<a></a></li>
                                <li><a class="site-name" href="{% url 'logout' %}"> LOGOUT</a></li>
                            {% else %}
                                <li><a href="{% url 'signup' %}">SIGN UP</a></li>
                                <li><a href="{% url 'login' %}">LOGIN</a></li>
                            {% endif %}
                       {% endblock %}
                </ul>
            {% endblock %}

		</nav><!-- / nav -->
   </header>

   <section id="main-content">
		<article>
			<header>
				{% block header %}<h1>Imagenes Recientes</h1> {% endblock %}
			</header>

			<div class="content">
            {% block content %}
                {% for i in photo %}
                    <img src="{{ i.picture.url }}" width="500px" />
                    <p> <b>Title:</b> {{ i.name }}
                        <b>Author:</b> {{ i.author }}
                        <b>Theme:</b>
                            {% for j in i.select_theme.all %}
                                {{j.name.lower }}
                            {% endfor %}
                    </p>
                {% endfor %}
            {% endblock %}

			</div>

		</article> <!-- /article -->

   </section> <!-- / #main-content -->

    <footer id="main-footer">
		<p>&copy; 2019 - Django Model del proces</p>
	</footer> <!-- / #main-footer -->
</body>
</html>